.activity-section {
  padding: 32px 64px 0 64px;
  display: flex;
  justify-content: space-between;
  background-color: white !important;
  margin:0 20px
}

.activity-section .left {
  position: sticky;
  top: 0;
  width: 15%;
  height: 20%;
  background-color: transparent;
  box-sizing: border-box;
  border-left: 4px solid transparent;
  cursor: pointer;
  padding: 12px 12px 12px calc(24px);
}
.activity-section .left:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.activity-section .middle {
  width: 50%;
}

.activity-section .right {
  width: 30%;
}

@media (max-width: 1024px) {
  .activity-section .right {
    display: none;
  }
}

@media (max-width: 768px) {
  .activity-section .left {
    display: none;
  }

  .activity-section .middle {
    width: 100%;
  }
}
