.desktop-terms-header {
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid #e1e0e0;
}

.desktop-terms-conditions {
  position: relative;
  z-index: 10;
  overflow-y: auto;
  max-height: calc(100vh - 70px);
}

.desktop-reserve-cover {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.desktop-reserve {
  margin-bottom: 20px;
  flex: initial;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
}

.desktop-get-reserve {
  display: inline-block;
  margin-bottom: 12px;
  position: relative;
  font-size: 20px;
  font-weight: 700;
}

.desktop-reserve-details {
  font-size: 16px;
  border-radius: 8px;
}

.desktop-reserve-input {
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  padding: 12px 16px;
  width: 100%;
  gap: 8px;
  display: flex;
  min-height: 46px;
  margin-bottom: 12px;
  justify-content: space-between;
}

.desktop-input-field::placeholder {
  color: black;
}

.desktop-search {
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
}

.desktop-reserve-ride-details {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: rgb(75, 75, 75);
  min-height: 64px;
  align-items: center;
}

.desktop-reserve-ride-details svg {
  width: 16px;
  height: 16px;
}

.desktop-see-terms {
  font-size: 14px;
  font-weight: normal;
  border-radius: 8px;
  color: rgb(75, 75, 75);
}

.desktop-reserve-bottom-card {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 10;
  height: auto;
  max-height: calc(100vh - 80px);
  overflow: hidden;
  overflow-y: auto;
  transition: bottom 0.4s ease-in-out;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.desktop-reserve-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(9, 7, 7, 0.3);
}

.desktop-reserve-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.desktop-next {
  background-color: rgb(243,243,243);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 50%;
  padding: 10px 12px;
  color: black;
  border: none;
  cursor: pointer;
  height: 36px;
  width: 36px;
  margin-bottom: 8px;
}