.body-component {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 16px;
  padding: 16px;
}

.scrollable-content {
  overflow-y: auto;
  height: 100%;
}

.fixed-content {
  height: 100%;
  padding: 16px;
}


@media (max-width: 768px) {
  .body-component {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 0 10px;
  }

  .scrollable-content {
    padding: 8px;
  }

  .fixed-content {
    padding: 8px;
    margin-top: 16px;
  }
}
