.promos-container {
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.promo-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.promo-input {
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 8px;
  padding: 12px 16px;
  line-height: 24px;
  height: 48px;
  outline: none;
  width: 100%;
}

.apply-btn {
  border: 1px solid #f3f3f3;
  padding: 10px 12px;
  background-color: #f3f3f3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: rgb(166, 166, 166);
  cursor: not-allowed;
  width: 13vh;
}

.apply-btn-active {
  background-color: black;
  color: white;
  cursor: pointer;
}

.promo-history-container {
  flex: 1; /* Ensures this section takes up remaining space */
  overflow-y: auto;
  padding-bottom: 60px; /* Space for the Go back button */
}

.promo-history {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.promo-tag-icon {
  display: flex;
  align-items: center;
}

.promo-section {
  padding: 10px 0;
  border-bottom: 1px solid #f3f3f3;
}

.go-back-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 10px 16px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.go-back {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
  padding: 10px 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
}
