.history {
  display: flex;
  padding: 20px 10px;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 12px;
  cursor: pointer;
  margin:12px 0
}
.history:hover {
    transition: 0.2s;
  background-color: rgb(243, 243, 243);
}
.vehical-img {
  margin: 0 14px 0 10px;
}
.buttons {
  display: flex;
  gap: 5px;
}
.history-btn {
  gap: 5px;
  /* margin: 10px 0 0 14px; */
  border-radius: 38px;
  line-height: 16px;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  padding: 8px 10px;
  background-color: rgb(243, 242, 242);
  margin-bottom: 20px;
  color: black;
  /* width: 150px; */
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .vehical-img {
    margin:0;
  }
  .history {
    padding: 5px 10px 0 0;
  }
  }