.mobile-shuttle-cover {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.mobile-shuttle {
  margin-bottom: 20px;
  flex: initial;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
}

.mobile-get-shuttle {
  display: inline-block;
  margin-bottom: 12px;
  padding: 0px 16px;
  position: relative;
  font-size: 23px;
  font-weight: 700;
  line-height: 28px;
}

.mobile-shuttle-details {
  font-size: 16px;
  border-radius: 8px;
}

.mobile-focused {
  display: flex;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  gap: 8px;
  display: flex;
  min-height: 46px;
  /* background-color: white; */
  /* border: 2px solid black; */
}

.mobile-shuttle-input {
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  padding: 8px 16px;
  width: 100%;
  gap: 8px;
  display: flex;
  min-height: 46px;
}

.mobile-search {
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
}

.mobile-explore-routes {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.mobile-view-all {
  cursor: pointer;
  margin: 0px;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 30px;
  padding: 10px 12px;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 243, 243);
}
