@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-class {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

/* Hide header on screens smaller than or equal to 768px */
@media (max-width: 768px) {
  .header-class {
    display: none;
  }
  .mobile-header-class {
    display: block;
  }
  body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

.body-class {
  flex-grow: 1;
  overflow-y: none;
}
